.titile {
    display: flex;
    justify-content: center;
    padding-top: 200px;
    background: #FAFAFC;
}

.title__body {}

.title__h2 {
    font-weight: 400;
    font-size: 14px;
    line-height: 140%;
    /* identical to box height, or 140% */
    text-align: center;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #E6B939;
}

.titile__titile {
    font-weight: 400;
    font-size: 36px;
    line-height: 120%;
    /* identical to box height, or 120% */
    text-align: center;
    color: #575445;
}

.title__desc {
    display: flex;
    max-width: 538px;
    font-weight: 400;
    font-size: 16px;
    line-height: 120%;
    /* or 120% */
    text-align: center;
    color: #575445;
    margin: 0 auto;
}

@media (max-width: 545px) {
    .titile-s {
        padding-top: 20px;
    }
    .title__h2 {
        font-size: 10px;
    }
    .titile__titile {
        font-size: 30px;
    }
    .title__desc {
        font-size: 12px;
    }
    .titile {
        padding-top: 0;
    }
}